<nav id='menu'>
  <input type='checkbox' id='responsive-menu'><label></label>
  <ul>
    <li><a href='#'>Home</a></li>
    <li><a class='dropdown-arrow' href='#'>Products</a>
      <ul class='sub-menus'>
        <li><a href='#'>Products 1</a></li>
        <li><a href='#'>Products 2</a></li>
        <li><a href='#'>Products 3</a></li>
        <li><a href='#'>Products 4</a></li>
      </ul>
    </li>
    <li><a href='#'>About</a></li>
    <li><a class='dropdown-arrow' href='#'>Services</a>
      <ul class='sub-menus'>
        <li><a href='#'>Services 1</a></li>
        <li><a href='#'>Services 2</a></li>
        <li><a href='#'>Services 3</a></li>
      </ul>
    </li>
    <li><a href='#'>Contact Us</a></li>
  </ul>
</nav>