<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{card.name}}</mat-card-title>
  </mat-card-header>
  <img style="height: 269px; width: 379px;" [src]="card.pic" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p style="height: 80px;" >
      {{card.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button  *ngIf="card.likes<5" (click)="onLike(card)"mat-button><mat-icon color = "primary">thumb_up</mat-icon> {{card.likes}}</button>
    <button *ngIf="card.likes>=5 && card.likes<=10" (click)="onLike(card)" mat-button style="background-color: red;"><mat-icon color = "primary">thumb_up</mat-icon> {{card.likes}}</button >
    <button *ngIf="card.likes>10" (click)="onLike(card)" mat-button style="background-color: purple;"><mat-icon color = "primary">thumb_up</mat-icon> {{card.likes}}</button >
    <button mat-button> <a class="shareBtn" href="https://www.linkedin.com/in/mateus-fernandes-silva/" target="_blank"><mat-icon>repeat</mat-icon><a>SHARE</a></a></button>
  </mat-card-actions>
</mat-card>