<div class="example-card">
  <div>
    <div>
      <h3 class="title__card">
        {{card.name}}
      </h3>
    </div>
  </div>
  <div class="image__container">
    <img mat-card-image [src]="card.pic" alt="Photo of a Shiba Inu">
  </div>
  <div>
    <p class="description__card">
      {{card.description}}
    </p>
  </div>
  <div class="container__button">
    <button mat-button (click)="onLike()" [class.buttonBlue]="buttonBlueFiveLimit" [class.buttonRed]="buttonRedTenLimit" >LIKE {{likes}}</button>
    <button (click)="onShare()" [attr.href]="link.linkedinLink" mat-button>SHARE</button>
  </div>
</div>
<app-loading-req *ngIf="isLoading"></app-loading-req>