<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<h3>
  <span style="--i:1;">M</span>
  <span style="--i:2;">Y</span>
  <span style="--i:2;"> </span>
  <span style="--i:3;">S</span>
  <span style="--i:4;">K</span>
  <span style="--i:5;">I</span>
  <span style="--i:6;">I</span>
  <span style="--i:7;">L</span>
  <span style="--i:8;">S</span>
</h3>

<div id="loading">
  <span style="--i:1;">L</span>
  <span style="--i:2;">O</span>
  <span style="--i:3;">A</span>
  <span style="--i:4;">D</span>
  <span style="--i:5;">I</span>
  <span style="--i:6;">N</span>
  <span style="--i:7;">G</span>
  <span style="--i:8;">.</span>
  <span style="--i:9;">.</span>
  <span style="--i:10;">.</span>
</div>

<app-dashboard></app-dashboard>