:host {
  max-width: 1250px;
  margin: auto;
  flex: 1;
}

.outerContainer {
  padding: 5px;
  border: 1px solid #b5b6b6;
  box-sizing: content-box;
}

div.container {
  color: #eeeeee;
  margin-bottom: 10px;
}

div.container>div {
  height: 50px;
  width: 50px;
  background-color: blue;
}

@media screen and (max-width: 1280px) {
  :host {
    max-width: 860px;
  }
}

@media screen and (max-width: 960px) {
  :host {
    max-width: none;
    margin: initial;
  }
}